<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Teacher List</title>

	<style>
		.scrollable-table {
			max-height: 400px;
			overflow-y: auto;
			/*수직 스크롤바*/
			overflow-x: auto;
			/*수평 스크롤바*/
		}

		.fixed-hearder {
			position: sticky;
			/* 헤더를 고정*/
			top: 0;
			/* 화면 상단에 고정*/
			background-color: black;
			color: white;
		}

		th {
			text-align: center;
		}

		td {
			text-align: center;
		}
	</style>
</head>

<body>
	<div class="container">
		<div id="listContainer">
			<h1>Teacher List</h1>

			<div style="display: inline;">
				<label for="sortSelect">선택:</label>
				<select id="sortSelect" onchange="handleSortChange(this)">
					<option value='null'>정렬방식선택</option>
					<option value="tid">선생님ID로</option>
					<option value="tname">이름으로</option>
					<option value="pname">핸드폰번호로</option>
					<option value="address">주소로</option>
					<option value="inputOrder">입력순으로</option>
				</select>
			</div>

			<div class="scrollable-table">
				<table style="border-collapse: separate; border-spacing: 3px;"> <!-- 추가 -->
					<thead class="fixed-hearder">
						<tr>
							<th>선생님ID</th>
							<th>이름</th>
							<th>핸드폰번호</th>
							<th>주소</th>
							<th>Action</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="teacher : ${teachers}">
							<td th:text="${teacher.teacherid}"></td>
							<td th:text="${teacher.tname}"></td>
							<td th:text="${teacher.phonenumber}"></td>
							<td th:text="${teacher.address}"></td>
							<td>
								<!-- 사용안함
								<a th:href="@{'/teachers/' + ${teacher.teacherid}}">Detail</a>
								<a th:href="@{'/teachers/edit/' + ${teacher.teacherid}}">Edit</a>-->

								<a class="btn btn-primary" href="#"
									th:attr="data-url=@{'/teachers/' + ${teacher.teacherid}}"
									th:onclick="'loadNewContent(this.getAttribute(\'data-url\')); return false;'">Detail</a>
								<a class="btn btn-warning" href="#"
									th:attr="data-url=@{'/teachers/edit/' + ${teacher.teacherid}}"
									th:onclick="'loadNewContent(this.getAttribute(\'data-url\')); return false;'">Edit</a>


								<form th:action="@{'/teachers/delete/' + ${teacher.teacherid}}" method="post"
									style="display: inline;">
									<button type="submit" class="btn btn-danger">Delete</button>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<a class="btn btn-dark" href="#" th:attr="data-url=@{'\teachers/add'}"
				th:onclick="'loadNewContent(this.getAttribute(\'data-url\')); return false;'"> Add Teacher</a>
		</div>
	</div>
</body>

<script>
	// JavaScript 코드를 추가
	document.addEventListener("DOMContentLoaded", function () {
		var sortSelect = document.getElementById("sortSelect");
		var selectedOption = localStorage.getItem("selectedSortOption");

		if (selectedOption) {
			sortSelect.value = selectedOption; // 저장된 정렬 옵션을 설정
			handleSortChange(sortSelect); // 초기 정렬 수행
		}

		// 콤보박스 변경 시 선택 옵션 저장
		sortSelect.addEventListener("change", function () {
			var selectedValue = sortSelect.value;
			localStorage.setItem("selectedSortOption", selectedValue);
		});
	});

	function handleSortChange(selectElement) {
		var selectedOption = selectElement.value;
		var url = "/teachers?sortBy=" + selectedOption; // Construct the URL with the selected option

		// Make an AJAX request to fetch the updated student list
		fetch(url)
			.then(response => response.text())
			.then(data => {
				document.getElementById("listContainer").innerHTML = data; // Update the student list container with the response HTML
			})
			.catch(error => {
				console.error('Error:', error);
			});
	}

</script>

</html>