<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Lectureroom List</title>
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="0">

	<style>
		.scrollable-table {
			max-height: 400px;
			overflow-y: auto;
			/*수직 스크롤바*/
			overflow-x: auto;
			/*수평 스크롤바*/
		}

		.fixed-hearder {
			position: sticky;
			/* 헤더를 고정*/
			top: 0;
			/* 화면 상단에 고정*/
			background-color: black;
			color: white;
		}

		th {
			text-align: center;
		}

		td {
			text-align: center;
		}
	</style>
</head>

<body>
	<div class="container">
		<div id="listContainer">
			<h1>Lectureroom List</h1>

			<div style="display: inline;">
				<label for="sortSelect">선택:</label>
				<select id="sortSelect" onchange="handleSortChange(this)">
					<option value='null'>정렬방식선택</option>
					<option value="rnumber">강의실번호로</option>
					<option value="rname">강의실이름으로</option>
					<option value="scount">좌석수로</option>
					<option value="inputOrder">입력순으로</option>
				</select>
			</div>

			<div class="scrollable-table">
				<table style="border-collapse: separate; border-spacing: 3px;"> <!-- 추가 -->
					<thead class="fixed-hearder">
						<tr>
							<th style="width: 100px;">강의실번호</th>
							<th style="width: 100px;">강의실이름</th>
							<th style="width: 100px;">좌석수</th>
							<th>Action</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="lectureroom : ${lecturerooms}">
							<td th:text="${lectureroom.roomnumber}"></td>
							<td th:text="${lectureroom.roomname}"></td>
							<td th:text="${lectureroom.seatcount}"></td>
							<td>
								<!-- 사용안함
							<a th:href="@{'/lecturerooms/' + ${lectureroom.roomnumber}}">Detail</a>
							<a th:href="@{'/lecturerooms/edit/' + ${lectureroom.roomnumber}}">Edit</a>-->

								<a class="btn btn-primary" href="#"
									th:attr="data-url=@{'/lecturerooms/' + ${lectureroom.roomnumber}}"
									th:onclick="'loadNewContent(this.getAttribute(\'data-url\')); return false;'">Detail</a>
								<a class="btn btn-warning" href="#"
									th:attr="data-url=@{'/lecturerooms/edit/' + ${lectureroom.roomnumber}}"
									th:onclick="'loadNewContent(this.getAttribute(\'data-url\')); return false;'">Edit</a>

								<form th:action="@{'/lecturerooms/delete/' + ${lectureroom.roomnumber}}" method="post"
									style="display: inline;">
									<button type="submit" class="btn btn-danger">Delete</button>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<a class="btn btn-dark" href="#" th:attr="data-url=@{'\lecturerooms/add'}"
				th:onclick="'loadNewContent(this.getAttribute(\'data-url\')); return false;'"> Add LectureRoom</a>
		</div>
	</div>
</body>

<script>
	// JavaScript 코드를 추가
	document.addEventListener("DOMContentLoaded", function () {
		var sortSelect = document.getElementById("sortSelect");
		var selectedOption = localStorage.getItem("selectedSortOption");

		if (selectedOption) {
			sortSelect.value = selectedOption; // 저장된 정렬 옵션을 설정
			handleSortChange(sortSelect); // 초기 정렬 수행
		}

		// 콤보박스 변경 시 선택 옵션 저장
		sortSelect.addEventListener("change", function () {
			var selectedValue = sortSelect.value;
			localStorage.setItem("selectedSortOption", selectedValue);
			handleSortChange(sortSelect);
		});
	});

	function handleSortChange(selectElement) {
		var selectedOption = selectElement.value;
		var url = "/lecturerooms?sortBy=" + selectedOption; // Construct the URL with the selected option

		// Make an AJAX request to fetch the updated student list
		fetch(url)
			.then(response => response.text())
			.then(data => {
				document.getElementById("listContainer").innerHTML = data; // Update the student list container with the response HTML
			})
			.catch(error => {
				console.error('Error:', error);
			});
	}

</script>


</html>